<!DOCTYPE html>
<html lang="en">
<head>
  <title>Star Wars, The Graph Awakens - OverStory Ltd</title>
  <% render "headmeta.html" %>
</head>
<body>
  <% render "nav.html" %>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Star Wars: The Graph Awakens</h1>
        <div class="row center">
          <h5 class="header col s12 light">The power of Connected Data, Jedi-Style</h5>
        </div>
        <div class="row center">
          <a href="query.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Use The Force</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/starwars1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <a name="about"></a>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Star Wars Facts</h5>

            <p class="light">We've imported the Star Wars API data, along with text analysis of the first seven Star Wars films to create a combined graph of connected data</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Explore the graph and its many connections </h5>

            <p class="light">Blah blah blah</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Display information visually</h5>

            <p class="light">Blah de blah de blah blah</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 black-text">Fun facts, and who knows who, in and about the Empire</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/esbgraph.png" alt="Unsplashed background img 2"></div>
  </div>

  <a name="howitworks"></a>
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>How It Works</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Things are more connected than you can possibly imagine</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/starwars2.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <a name="footer"></a>
  <% render "footer.html" %>

  </body>
</html>
