<div class="navbar-fixed">
	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<div class="row">
				<a id="logo-container" href="/" class="brand-logo">
					<img width="75" height="57" style="padding: 6px" src="images/logo-overstory-co-uk-white-bg-x200.png"/>
					Star Wars PoC
				</a>
			</div>
			<ul class="right hide-on-med-and-down">
				<li><a href="#about">About</a></li>
				<li><a href="#howitworks">How It Works</a></li>
				<li><a href="#footer">About OverStory</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="#about">About</a></li>
				<li><a href="#howitworks">How It Works</a></li>
				<li><a href="#footer">About OverStory</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>
</div>
