<!DOCTYPE html>
<html lang="en">
<head>
	<title>Star Wars, The Graph Awakens - OverStory Ltd</title>
	<% render "headmeta.html" %>

	<style type="text/css">
		html, body {
			font: 10pt arial;
		}

		#network_canvas {
			height: 800px;
			border: 4px solid black;
			background: #eeeeee;
		}
	</style>

	<script type="text/javascript">
		function renderStoredQuery (queryid, canvas)
		{
			\$.ajax({
				url: "/graph/query/id/" + queryid
			}).done (function (json) {
				drawGraph (json, canvas)
			})
		}

		function drawGraph (network, canvas) {
			var container = document.getElementById (canvas);

			new vis.Network (container, network.data, network.options);
		}

	</script>


</head>
<body onload='renderStoredQuery ("root", "network_canvas")'>

<% render "nav.html" %>

<div id="index-banner" class="container">
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center teal-text text-lighten-2">Query The Force</h1>
			<div class="row center">
				<h5 class="header col s12 yellow-text accent-1">Trust the Graph, Luke</h5>
			</div>
			<br>
		</div>
	</div>
	<div class="parallax"><img src="images/starwars1.jpg" alt="Star Wars is cool"></div>
</div>

<a name="about"></a>
<div class="container">
	<div id="network_canvas"></div>
</div>

<a name="footer"></a>
<% render "footer.html" %>

</body>
</html>
