
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Who is OverStory?</h5>
        <p class="grey-text text-lighten-4">
          We are a ragtag band of rebels, on the run, trying to bring peace and order to
          the universe, without getting squished by the Empire.
        </p>
        <p class="grey-text text-lighten-4">
          Specialists in rapid unplanned Death Star disassembly.
        </p>

      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Stuff We Do</h5>
        <ul>
          <li><a class="white-text" href="http://www.overstory.co.uk/our-approach/">XML, XQuery, Content, MarkLogic</a></li>
          <li><a class="white-text" href="http://www.overstory.co.uk/our-approach/">Linked Data, Semantics, Dark Data</a></li>
          <li><a class="white-text" href="http://www.overstory.co.uk/our-approach/">REST, APIs, Architecture, Systems</a></li>
          <li><a class="white-text" href="http://www.overstory.co.uk/our-approach/">Full Stack Dev Browser to Back End</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect With Us</h5>
        <ul>
          <li><a class="white-text" href="http://www.overstory.co.uk/">overstory.co.uk</a></li>
          <li><a class="white-text" href="mailto:info@overstory.co.uk">info@overstory.co.uk</a></li>
          <li><a class="white-text" href="https://twitter.com/overstory">@overstory</a></li>
          <li><a class="white-text" href="https://www.facebook.com/overstoryllp/">OverStory on facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 <a class="brown-text text-lighten-3" href="http://overstory.co.uk">OverStory Ltd</a>
    </div>
  </div>
</footer>
