<div class="app-two-parameter-selector">
  <form>
    <div class="grid grid-pad">
      <div class="col-1-3">
        <div class="content">
          <select name="firstCharacter" class="show" name="firstCharacter" [(ngModel)]="character.firstCharacter">
            <option id="x">----</option>
            <option *ngFor="let x of labels.labels" [value]="x.id"  ngDefaultControl>{{x.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-1-3">
        <div class="buttons">
          <button type="submit" class="btn" (click)="shortestPathById()" >Shortest Path Between</button>
          <button type="submit" class="btn" (click)="allShortestPathsById()" >All ShortestPaths</button>
          <button type="submit" class="btn" (click)="pivotalNodeById()" >Pivotal Node</button>
        </div>
      </div>
      <div class="col-1-3">
        <div class="content">
          <select name="secondCharacter" class="show" name="secondCharacter" [(ngModel)]="character.secondCharacter" >
            <option id="x">----</option>
            <option *ngFor="let x of labels.labels" [value]="x.id"  ngDefaultControl>{{x.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>