<div class="app-two-parameter-selector">
  <h2>Select two Star Wars characters and then click a query button</h2>
  <form>
    <div class="sw-selectors grid grid-pad">
      <div class="col-1-2">
          <select name="firstCharacter" class="show" name="firstCharacter" [(ngModel)]="character.firstCharacter">
            <option id="x" selected>Choose...</option>
            <option *ngFor="let x of labels.labels" [value]="x.id"  ngDefaultControl>{{x.name}}</option>
          </select>
      </div>
      <div class="col-1-2">
          <select name="secondCharacter" class="show" name="secondCharacter" [(ngModel)]="character.secondCharacter" >
            <option id="x" selected>Choose...</option>
            <option *ngFor="let x of labels.labels" [value]="x.id" ngDefaultControl>{{x.name}}</option>
          </select>
      </div>
    </div>
    <div class="sw-buttons grid grid-pad">
      <div class="col-1-3">
        <button type="submit" class="waves-effect btn green" (click)="shortestPathById()">Shortest Path <i class="material-icons right">send</i></button>
      </div>
      <div class="col-1-3">
        <button type="submit" class="waves-effect btn green" (click)="allShortestPathsById()">All Shortest Paths <i class="material-icons right">send</i></button>
      </div>
      <div class="col-1-3">
        <button type="submit" class="waves-effect btn green" (click)="pivotalNodeById()">Pivotal Node <i class="material-icons right">send</i></button>
      </div>
    </div>
  </form>
</div>
