.d3-chart {
    width: 100%;
    height: 800px;
    background-color: #fff;
    border: 4px solid black;
}

.d3-chart .axis path,
.d3-chart .axis line {
    stroke: #999;
}

.d3-chart .axis text {
    fill: #999;
}
/* Styles go here */

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}


.node-text {
    font-size: 9px;
}

div.tooltip {
    max-width: 400px;
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12pt sans-serif;
    background: #d0d7de;
    border: 2px solid #0008ff;
    border-radius: 8px;
    pointer-events: none;
    /* ToDo: Need to add a scrollbar to this div, too lazy too lookup how to do it right now. */
}

h2.tooltip-name {
    color: #0008ff;
    font: 18pt sans-serif;
    font-weight: bold;
    border-bottom: 3px solid #66aaaa;
}

p.tooltip-description {
    color: #000000;
    font-size: 10pt;
    text-align: left;
}
