.d3-chart {
    width: 100%;
    height: 800px;
    background-color: #fff;
    opacity: 0.8;
    border: 2px solid yellow;
    border-radius: 8px;
}

.d3-chart .axis path,
.d3-chart .axis line {
    stroke: #00b;
}

.d3-chart .axis text {
    fill: #00b;
}

/*#chart {
    pointer-events: all;
}*/
/* Styles go here */

.links .linkLine {
    stroke: #00b;
    stroke-opacity: 0.9;
    fill: none; /* fix the problem where background is black */
}

.linklabel {
    stroke: #00b;
    fill: #00b;
}


.linkContainer .halo {
    opacity: .0;
    stroke: #6ac6ff;
}

.links .invisible {
	stroke: none;
	fill: none;
}

.linkContainer:hover .halo {
    opacity: .8;
    stroke: #6ac6ff;
    fill: none;
}

/* not needed anymore - consider removing
.linkContainer:hover .linkboundBox {
    opacity: .8;
    fill: #6ac6ff;
}
*/

rect.linkboundBox {
	fill: #fff;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}



.node-text {
    font-size: 9px;
}

.nodeContainer .halo {
    fill: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    stroke: #6ac6ff;
}

.nodeContainer:hover .halo {
    opacity: .9 !important;
    stroke: #13a5fb;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
}

.associated .halo {
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    stroke: #6ac6ff;
}

.small-tooltip-text {
	opacity: .0;
	text-anchor: middle;
}

.small-tooltip-box {
	opacity: .0;
	fill: #d0d7de;
	stroke: #0008ff;
	stroke-width: 1px;
}

.nodeContainer:hover .small-tooltip {
	opacity: .9;
}

div.tooltip {
    max-width: 400px;
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12pt sans-serif;
    background: #d0d7de;
    border: 2px solid #0008ff;
    border-radius: 8px;
    /*pointer-events: none;*/
    cursor: default;
    overflow-y: scroll;
    height:400px;
    /* ToDo: Need to add a scrollbar to this div, too lazy too lookup how to do it right now. */
}

h2.tooltip-name {
    color: #0008ff;
    font: 18pt sans-serif;
    font-weight: bold;
    border-bottom: 3px solid #66aaaa;
}

p.tooltip-description {
    color: #000000;
    font-size: 10pt;
    text-align: left;
    overflow-y: auto;
    max-height: 80%;
}

p.tooltip-prop {
    text-align: left;
}

span.tooltip-prop-label {
    font-weight: bold;
}

span.tooltip-prop-value {
    font-weight: normal;
}

div.tooltip-desc-row {
    display: table-row;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #66aaaa;
    overflow-y: auto;
}

img.tooltip-image {
    padding: 5px;
    border: 1px solid #66aaaa;
    float: right;
}

/* Radial Menu */

.rm {
	/*
	fill: #999;
	stroke: #ccc;
	*/
	stroke: #999;
}

.radialMenuContainer:hover .rm {
	/*
	fill: #ccc;
	stroke: #fff;
	*/
	stroke: #ccc;
}

.radial-menu {
	stroke-width: 37;
}


.radial-menu-text {
	fill: #fff;
	stroke: #ccc;
	font-size: 1.75em;
}

.radialMenuContainer:hover .radial-menu-text {
	cursor:default;
	fill: #fff;
	stroke: #ccc;
	font-size: 1.75em;
}
