<div id="index-banner" class="container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Query The Force</h1>
      <div class="row center">
        <h5 class="header col s12 yellow-text accent-1">Trust the Graph, Luke</h5>
      </div>
      <br>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/starwars1.jpg" alt="Star Wars is cool"></div>
</div>

<a name="about"></a>
<div class="container">
  <div id="network_canvas"></div>

  <div>
    <h4>Barchart Layout</h4>
    <app-force *ngIf="chartData" [data]="chartData"></app-force>
    <hr/>
  </div>

  <div>
    <h4>New service example</h4>
    <form (ngSubmit)="runNeo()">
      <button type="submit" class="btn">RunNeo</button>
    </form>
  </div>
</div>


