#network_canvas {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container {
	width: 98%;
	max-width: 1800px;
	height: 100%;
	/*opacity: 0;*/
}

/* override materialisecss */
.row {
	margin-bottom: 0px;
}

.query-page {
	background: url("images/starfield.jpg") repeat;
}

.query-controls {
	margin: 10px 10px 10px 10px;
}

.control-tabs {
	color: white;
}

/* make the  "selector" visuals of materialise css */
.indicator {
    background-color: black !important;
}

#labels {
	margin-top: 10px;
}

.control-tabs {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.control-tabs-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}