<div class="query-page">

  <div id="index-banner" class="container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <h4 class="header col s12 yellow-text accent-1">Trust the Graph, Luke</h4>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <div class="col-content teal white-text ">Select a Class of Query to Visualize</div>
        </div>
      <div class="col s12 center">
        <ul class="tabs control-tabs">
          <li class="tab col s4 teal"><a class="white-text" href="#twochars" >Two Characters</a></li>
          <li class="tab col s4 teal"><a class="white-text" href="#labels">Labels</a></li>
          <li class="tab col s4 teal"><a class="active white-text" href="#empty">Hide</a></li>
        </ul>
      </div>
      <div id="twochars" class="col s12">
        <div class="query-controls">
          <app-two-parameter-selector></app-two-parameter-selector>
        </div>
      </div>
      <div id="labels" class="col s12">
        <app-by-label></app-by-label>
      </div>
      <div id="empty" class="col s12">
      </div>
    </div>
  </div>

  <a name="about"></a>

  <div class="container">
    <div id="network_canvas">
      <app-force *ngIf="chartData" [data]="chartData"></app-force>
      <hr/>
    </div>

  </div>

</div>


