<div class="query-page">

  <div id="index-banner" class="container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <h4 class="header col s12 yellow-text accent-1">Trust the Graph, Luke</h4>
        </div>
        <br>
      </div>
    </div>
  </div>

  <a name="about"></a>
  <div class="query-controls">
    <app-two-parameter-selector></app-two-parameter-selector>
  </div>

  <div class="container">
    <div id="network_canvas">
      <app-force *ngIf="chartData" [data]="chartData"></app-force>
      <hr/>
    </div>

  </div>

</div>


