<div class="navbar-fixed">
  <nav class="navbar-color white">
    <div class="nav-wrapper container">
      <ul class="left">
        <li>
          <div class="logo-wrapper">
            <a href="/" class="brand-logo">
              <img width="75" height="57" style="padding: 6px" src="assets/images/logo-overstory-co-uk-white-bg-x200.png"/>
              <span class="logo-text" style="vertical-align: top;">Star Wars Graph</span>
            </a>
          </div>
        </li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="#about">About</a></li>
        <li><a href="#howitworks">What Is This?</a></li>
        <li><a href="https://github.com/overstory/sw-poc" target="_other">Source</a></li>
        <li><a href="#footer">OverStory</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#about">About</a></li>
        <li><a href="#howitworks">What Is This?</a></li>
        <li><a href="https://github.com/overstory/sw-poc" target="_other">Source</a></li>
        <li><a href="#footer">OverStory</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
