<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h2 class="header center indigo-text text-lighten-2">Star Wars: The Graph Awakens</h2>
            <br>
        </div>
    </div>
    <div class="parallax"><img src="assets/images/starwars1.jpg" alt="Unsplashed background img 1"></div>
</div>

<a name="about"></a>
<div class="container">
    <div class="section">
        <div class="row center">
            <h5 class="header col s12 dark">The Power of Connected Data, Jedi-Style</h5>
        </div>
        <div class="row center">
            <a href="query" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Query The Force</a>
        </div>

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Star Wars Facts</h5>

                    <p class="light">We've imported the data from the <a href="http://swapi.co" target="other">Star Wars API</a>,
                        combined it with social relationships derived from
                        <a href="http://evelinag.com/blog/2015/12-15-star-wars-social-network/" target="other">text analysis of the first seven Star Wars films</a>
                        and additional information from
                        <a href="https://www.themoviedb.org/movie/11-star-wars" target="other">The Movie DB</a> data
                        <a href="https://www.themoviedb.org/documentation/api" target="other">API</a>
                        to create a combined graph of connected Star Wars data</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Explore the graph and its many connections </h5>

                    <p class="light">Combining these disparate datasets, with a little bit of glue,
                        yields a rich network of nodes and connecting edges.  Each node represents
                        an entity in the Star Wars universe and each edge is a relationship between
                        two nodes.
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Display information visually</h5>

                    <p class="light">Nodes and links are displayed visually and manipulated
                        with the mouse.  Hovering over a node shows more detailed information about it and
                        double clicking a node expands the graph through its connections.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h4 class="header col s12 black-text">Fun facts, and who knows who, in and about the Empire</h4>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="assets/images/esbgraph.png" alt="Unsplashed background img 2"></div>
</div>

<a name="howitworks"></a>
<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>How It Works</h4>
                <p class="left-align light">
                    We've pulled together data from several different open sources to build a combined linked data graph
                    containing information about the Star Wars universe.  The data has been aggregated and stored to a
                    <a href="http://neo4j.com" target="other">Neo4J database.</a>.  There is a small
                    <a href="http://ratpack.io" target="other">RatPack app server</a>, with code written in
                    <a href="http://ratpack.io" target="other">Groovy</a>, to glue it together.
                </p>
                <p class="left-align light">
                    Starting with the data in the fan-created Star Wars REST API at
                    <a href="http://swapi.co" target="other">http://swapi.co</a>, we wrote a bit of code to traverse through
                    its data and create a <a href="json/swapi.json" target="other">combined JSON file</a> (it's not very big).
                </p>
                <p class="left-align light">
                    The SWAPI data contains facts about the movies, characters, planets, starships, etc.  There are many
                    relationships embedded in the data, such as which movies a given character appeared in and what species
                    a character is, etc.  This yields a nice linked graph, but does not tell us very much about how the
                    characters relate or interact with each other.
                </p>
                <p class="left-align light">
                    So we took another dataset created by
                    <a href="http://evelinag.com/" target="other">Evelina Gabasova</a>
                    as described in her fascinating
                    <a href="http://evelinag.com/blog/2015/12-15-star-wars-social-network/" target="other">Star Wars social network blog post</a>.
                    The <a href="/json/starwars-full-interactions-allCharacters-merged.json" target="other">social data</a> was derived
                    by doing automated text analysis of the scripts for the first seven Star Wars films.  That analysis
                    yielded a set of directed connections by deducing which characters uttered which lines of dialog and to whom
                    they were speaking.  This gives us a sort of weak social network that at least tells us which characters have engaged
                    in a dialog.  It does not, however, give us stronger social connections such as team membership, marriage, parent/child relationships, etc.
                    For example, there are no social links establishing that Luke is the son of Anakin Skywalker (or Darth Vader).
                    There is no reason why this information could not also be added to the graph, but we have not found a source
                    for this information (yet).
                </p>
                <p class="left-align light">
                    To join these data sets up, we created a simple
                    <a href="/json/character-resource-map.json" target="other">JSON mapping file</a>
                    which connected simple character names as found in the
                    <a href="https://github.com/evelinag/StarWars-social-network/tree/master/networks" target="other">Star Wars social data</a>
                    to the <a href="http://swapi.co" target="other">SWAPI</a> URIs
                    that uniquely identify those entities.  Given this information, we where able to create relationships between
                    the characters created from the SWAPI data.  This gave us an enhanced graph with both structural
                    and social relationships represented.
                </p>
                <p class="left-align light">
                    This graph was more interesting, but rather bland when represented visually.  Using
                    <a href="https://angular.io/" target="other">Angular 2</a> and
                    <a href="https://d3js.org/" target="other">D3.js</a> we built this demo webapp to visualize the Star Wars data.
                    This is best done with a <i>force directed graph</i> which looks like bouncy bubbles connected by springy lines.
                    This works well, but is a bit plain when the nodes are just monochrome circles with text inside.  To add some
                    visual interest we turned to the free API at
                    <a href="https://www.themoviedb.org/" target="other">The Movie DB</a>, which is similar to IMDB but with
                    a usable REST API.  This API gave us a lot of detailed information including
                    nice, renderable images that we could display in the live graph.
                    The rub was that The Movie DB holds information about people (actors, producers, etc) and movies, but not fictional characters.
                </p>
                <p class="left-align light">
                    No problem, we just added another field to our
                    <a href="/json/character-resource-map.json" target="other">mapping JSON file</a>
                    to indicate which actor(s) portrayed which characters.
                    With this information we iterated the mapping JSON file and pulled in
                    the detailed actor information from The Movie DB and consolidated it into a single
                    <a href="/json/moviedb-actors.json" target="other">actors JSON file</a>.
                    This is not a simple one-to-one mapping like the social data was.  A single character can be
                    portrayed by multiple actors in the same film (David Prowse was in the Darth Vader suit, James Earl Jones
                    was the voice).  Or played by different actors in different films (Obi-Wan Kenobi has been played by Sir Alec Guiness
                    and Ewan McGregor in different films).
                </p>
                <p class="left-align light">
                    To handle this, we also passed through the
                    <a href="/json/character-resource-map.json" target="other">mapping JSON file</a>
                    and used each actor's MovieDB identifier to pull in
                    the detail of their movie credits.  Using this, we could not only create new Actor nodes and connect
                    a character to that actor, we could also indicate which movies a specific actor appeared in.  So, the character
                    Darth Vader is connected to both Alec Guinness and Ewan McGregor, but Guinness is only connected to the
                    movies <i>A New Hope</i>, <i>The Empires Strike Back</i>, <i>Return of the Jedi</i>, and
                    <i>The Force Awakens</i> (through the magic of archival footage).  McGregor is linked to
                    <i>Attack of the Clones</i>, <i>The Phantom Menace</i>, <i>Revenge of the Sith</i>, and also
                    <i>The Force Awakens</i>.
                </p>
                <p class="left-align light">
                    We also did a bit of
                    <a href="/json/character-resource-map.json" target="other">extra mapping</a>
                    to pull in details about producers and directors from
                    <a href="https://www.themoviedb.org/" target="other">The Movie DB</a>,
                    since producers and directors are not first class data records in the
                    <a href="json/swapi.json" target="other">SWAPI data</a>.  We also added some
                    <a href="json/resource-map.json" target="other">mappings for SWAPI to MovieDB ids</a> so we that we could
                    could fetch information about films and add it to the Film nodes created from the SWAPI data.
                    We also made sure to resolve
                    co-references to the same person in multiple roles.  J. J. Abrams was both Director and Producer of
                    <i>The Force Awakens</i> and George Lucas was Producer on some films and Director on others.
                </p>
                <p class="left-align light">
                    We now had nice pictures to render for actors thanks to links from The Movie DB data.  Which look
                    great, but these images were for the actors, not the characters.  Unfortunately, the Movie DB doesn't
                    maintain detail records
                    for characters.  We are on the lookout for a REST API source of information about fictional characters in
                    general, and Star Wars Characters in particular, but have not yet found anything we can integrate with.
                    In the meantime, we've applied a hack that copies the image link into the character from one of the
                    actors if it doesn't have one set already.  But this is unsatisfying because the photo of David Prowse does
                    not look anything like Darth Vader, for example.  This is still a work in progress.
                </p>
                <div class="row center" style="margin-top: 20px;">
                    <a href="query" class="btn-large waves-effect waves-light teal lighten-1">Trust The Graph, luke</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h4 class="header col s12 light">Things are more connected than you can possibly imagine</h4>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="assets/images/starwars2.jpg" alt="Unsplashed background img 3"></div>
</div>
